<nav class="flex items-center px-2 min-h-[50px] bg-slate-50 justify-between">
  <button id="hamburger" class="text-red-900">
    <i data-feather="menu"></i>
  </button>

  <button class="text-red-900">
    <i data-feather="log-out"></i>
  </button>
</nav>