<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
	</head>
	<body>
		<main
			class="bg-slate-100 min-h-screen flex items-center justify-center"
		>
			<div
				class="w-[500px] h-[400px] bg-white rounded-xl p-3 text-xl relative"
				action=""
			>
				<form action="">
					<h1 class="text-3xl text-center">Login to Self Service</h1>
					<div class="mt-5 flex flex-col">
						<label for="username">Username</label>
						<input
							class="bg-slate-100 rounded-md p-1 border-[1px] border-red-900"
							type="text"
						/>
					</div>
					<div class="mt-3 flex flex-col">
						<label for="username">Password</label>
						<input
							type="password"
							class="bg-slate-100 rounded-md p-1 border-[1px] border-red-900"
							type="text"
						/>
					</div>
					<button
						class="bg-red-900 w-full mt-3 text-white rounded-md p-1"
					>
						Login
					</button>
				</form>
        <div class=" absolute bottom-0 right-0 w-full text-center bg-red-50 p-2">
          Don't have an account? 
          <a href="" class=" text-red-900">Register</a>
        </div>
			</div>
		</main>

		<%- include('../partials/scripts.ejs') %>
	</body>
</html>
