
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>

  <div class="flex min-h-screen">
    <%- include('../partials/sidebar.ejs', { page_name: "timetable" }) %>
    
    <main class="flex flex-col bg-slate-100 flex-1">
      <%- include('../partials/navbar.ejs') %>
      
      <div class=" px-5 mt-5">
        <section>
          
      </div>
    </main>
  </div>
  
  <%- include('../partials/scripts.ejs') %>
</body>
</html>